<div class="text-center fully-centered" *ngIf="loadingProfile">
	<mat-spinner style="zoom: 0.5;" class="text-center ms-auto me-auto"></mat-spinner>
</div>

<div class="profile-header" style="margin-top: 64px" *ngIf="!loadingProfile">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-10">
				<div class="profile-cover-photo centered-bg-image mat-elevation-z5 cursor-pointer" (click)="openViewPhotoDialog(profileUser.coverPhoto)"
					style="height: 300px; background-image: url('{{profileUser.coverPhoto}}')">
					<!-- <div align="end" class="float-end" style="margin-top: 10px; margin-right: 10px" *ngIf="isProfileViewerOwner" (click)="openPhotoUploadDialog($event, 'coverPhoto')">
						<button mat-mini-fab color="basic">
							<mat-icon class="text-secondary">upload</mat-icon>
						</button>
					</div> -->
				</div>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-10">
				<div class=" bg-white position-relative p-5 mat-elevation-z3 rounded-bottom">
					<div class="profile-picture centered-bg-image d-inline-block border border-5 border-white rounded-3 cursor-pointer mat-elevation-z3 p-0"  (click)="openViewPhotoDialog(profileUser.imagePath)"
						style="margin-top: -100px; height: 180px; width: 180px; background-color: white; background-image: url('assets/images/{{profileUser.imagePath}}');">
						<div align="end" class="float-end" style="margin-top: -20px; margin-right: -20px" *ngIf="isProfileViewerOwner" (click)="openPhotoUploadDialog($event, 'imagePath')">
							<button mat-mini-fab color="basic">
								<mat-icon class="text-secondary">upload</mat-icon>
							</button>
						</div>
					</div>

					<div class="profile-info d-inline-block align-top ps-3" style="margin-top: -30px">
						<h1 class="mat-display-1 mb-1" style="font-weight: 500;">
							{{ profileUser.lastName + ' ' + profileUser.firstName }}
						</h1>

						<p>
							<a class="text-decoration-none text-secondary mat-h3 cursor-pointer" style="font-weight: 500;" (click)="openFollowingDialog(profileUser)">
								{{ listFriends.length ?? 0 }} Bạn bè
							</a>
							<!-- <span class="ps-2 pe-2 mat-h3 fw-bold">|</span>
							<a class="text-decoration-none text-secondary mat-h3 cursor-pointer" style="font-weight: 500;" (click)="openFollowerDialog(profileUser)">
								{{ profileUser.followerCount }} Follower
							</a> -->
						</p>
					</div>

					<div style="position: absolute; right: 30px; top: 30px;" *ngIf="!isProfileViewerOwner">
						<ng-container *ngIf="statusFriend === 'not-sent' || statusFriend === 'declined'">
							<button mat-raised-button color="primary" (click)="sendRequestFriend(profileUser.id)">Thêm bạn bè</button>
						</ng-container>
						<ng-container *ngIf="statusFriend === 'pending'">
							<button mat-raised-button color="muted" style="background-color: #adadad;" (click)="cancelRequestFriend(currentRequestFriendId)">Đã gửi lời mời kết bạn</button>
						</ng-container>
						<ng-container *ngIf="statusFriend === 'accepted'">
							<button mat-raised-button color="success" (click)="acceptRequestFriend(currentRequestFriendId)">Bạn bè</button>
						</ng-container>
						<button style="margin-left: 1rem;" mat-raised-button color="secondary" (click)="openUnfollowConfirmDialog(profileUser.id)">Nhắn tin</button>
					</div>
				</div>
			</div>
		</div>

		<div class="row justify-content-center mt-5">
			<div class="col-4">
				<div class="profile-sidebar position-sticky bg-white rounded mat-elevation-z3 p-3 mb-5" style="top: 64px;">
					<p class="text-center ps-2 pt-3 pe-2 pb-0" *ngIf="profileUser.description">
						{{ profileUser.description }}
					</p>

					<mat-list>
						<div *ngIf="profileUser.email">
							<mat-list-item>
								<mat-icon class="text-secondary">email</mat-icon>
								<span class="fw-500 ps-3 small">Email <b>{{ profileUser.email }}</b></span>
							</mat-list-item>

              <mat-divider></mat-divider>
						</div>

						<!-- <div *ngIf="profileUser.workplace">
							<mat-divider></mat-divider>

							<mat-list-item>
								<mat-icon class="text-secondary">work</mat-icon>
								<span class="fw-500 ps-3 small">Works At <b>{{ profileUser.workplace }}</b></span>
							</mat-list-item>

							<mat-divider></mat-divider>
						</div> -->

						<div *ngIf="profileUser.education">
							<mat-list-item>
								<mat-icon class="text-secondary">school</mat-icon>
								<span class="fw-500 ps-3 small"><b>{{ profileUser.education }}</b></span>
							</mat-list-item>

							<mat-divider></mat-divider>
						</div>

						<!-- <div *ngIf="profileUser.hometown">
							<mat-list-item *ngIf="profileUser.hometown">
								<mat-icon class="text-secondary">home</mat-icon>
								<span class="fw-500 ps-3 small">From <b>{{ profileUser.hometown }}</b></span>
							</mat-list-item>

							<mat-divider></mat-divider>
						</div> -->

						<div *ngIf="profileUser.address">
							<mat-list-item>
								<mat-icon class="text-secondary">person_pin_circle</mat-icon>
								<span class="fw-500 ps-3 small"><b>{{ profileUser.address}}</b></span>
							</mat-list-item>

							<mat-divider></mat-divider>
						</div>

						<!-- <div *ngIf="profileUser.country">
							<mat-list-item>
								<mat-icon class="text-secondary">place</mat-icon>
								<span class="fw-500 ps-3 small">Country <b>{{ profileUser.country.name }}</b></span>
							</mat-list-item>

							<mat-divider></mat-divider>
						</div> -->

            <div *ngIf="profileUser.dob">
							<mat-list-item>
								<mat-icon class="text-secondary"><mat-icon>date_range</mat-icon></mat-icon>
								<span class="fw-500 ps-3 small"><b>{{ profileUser.dob | date:'longDate' }}</b></span>
							</mat-list-item>

              <mat-divider></mat-divider>
						</div>

						<div *ngIf="profileUser.gender">
							<mat-list-item>
								<mat-icon class="text-secondary"><mat-icon>account_circle</mat-icon></mat-icon>
								<span class="fw-500 ps-3 small"><b>{{ profileUser.gender === 'Male' ? 'Nam' : 'Nữ' }}</b></span>
							</mat-list-item>
						</div>
					</mat-list>
				</div>
			</div>

			<div class="col-6 mb-4">
				<div class="profile-posts">
					<app-post *ngFor="let postResponse of profileUserPostResponses" id="{{'profilePost' + postResponse.id}}" [postResponse]="postResponse" (postDeletedEvent)="handlePostDeletedEvent($event)"></app-post>
				</div>

				<!-- <div class="text-center mt-3">
					<button mat-raised-button color="primary" class="mat-btn-lg rounded-pill" *ngIf="hasMoreResult && !fetchingResult" (click)="loadProfilePosts(resultPage)">Load More</button>
					<mat-spinner style="transform: scale(0.3);" class="text-center ms-auto me-auto" *ngIf="fetchingResult"></mat-spinner>
					<span class="fw-500" *ngIf="hasNoPost">No Post</span>
					<span class="fw-500" *ngIf="!hasMoreResult && !hasNoPost">No More Posts</span>
				</div> -->
			</div>
		</div>
	</div>
</div>
