<div class="mt-100 me-auto ms-auto pb-5" style="width: 500px;">
	<mat-card class="mat-elevation-z3">
		<mat-card-title class="text-center ps-3 pt-5 pe-3">Đăng nhập</mat-card-title>

		<mat-card-content class="p-4">
			<form [formGroup]="loginFormGroup" (ngSubmit)="handleLogin()">
				<mat-form-field class="w-100 pb-2" appearance="outline">
					<mat-label>Email</mat-label>
					<input type="text" matInput formControlName="email" placeholder="Ex. johndoe@example.com">
					<mat-error *ngIf="email.hasError('required')">
						Email không được để trống
					</mat-error>
					<mat-error *ngIf="email.hasError('email') || email.hasError('serverError')">
            Email không hợp lệ
					</mat-error>
				</mat-form-field>

				<mat-form-field class="w-100 pb-2" appearance="outline">
					<mat-label>Password</mat-label>
					<input type="password" matInput formControlName="password" placeholder="*************">
					<mat-error *ngIf="password.hasError('required')">
						Mật khẩu không được để trống
					</mat-error>
					<mat-error *ngIf="password.hasError('minlength', 'maxlength')">
            Mật khẩu phải dài từ 6 đến 32 ký tự
					</mat-error>
					<mat-error *ngIf="password.hasError('serverError')">
            Mật khẩu phải là số và phải bao gồm chữ hoa, chữ thường và ký tự đặc biệt
					</mat-error>
				</mat-form-field>

				<a class="d-inline-block text-secondary text-decoration-none cursor-pointer mt-3" (click)="openForgotPasswordDialog($event)">
					Quên mật khẩu?
				</a>

				<mat-card-actions align="end" style="margin-top: -35px; padding-right: 8px;">
					<button mat-raised-button color="primary" type="submit">Đăng nhập</button>
				</mat-card-actions>
			</form>
		</mat-card-content>

		<mat-card-footer *ngIf="submittingForm == true">
			<mat-progress-bar mode="indeterminate"></mat-progress-bar>
		</mat-card-footer>
	</mat-card>
</div>
