<mat-dialog-content>
	<div class="position-relative">
		<h2 class="mat-h2 m-0">
			{{ myFriendResponseList.length }} Bạn bè
		</h2>
	
		<hr class="divider" *ngIf="myFriendResponseList.length > 0">
	
		<ul class="list-group list-group-flush" *ngFor="let friend of myFriendResponseList">
			<li class="list-group-item ps-0 pt-2 pe-0 pb-2">
				<span class="rounded-circle d-inline-block align-middle centered-bg-image"
					style="width: 30px; height: 30px; background-image: url('assets/images/{{friend.imagePath ? friend.imagePath : defaultProfilePhoto}}');">
				</span>
				<a class="d-inline-block text-decoration-none text-dark align-middle ps-2 fw-500 cursor-pointer"
					href="/users/{{friend.id}}">{{friend.lastName + ' ' + friend.firstName}}</a>
			</li>
		</ul>

	</div>
</mat-dialog-content>